Library/
Temp/
obj/
*.csproj
*.sln
.vs/
Assets/Images/
Assets/Imported/
Assets/Poly/
Build/
.vscode/
Screenshots/

SerializedBuildInfo/
Assets/_TerrainAutoUpgrade/
Assets/Heureka/

Recordings/
Builds/
Logs/
